<!DOCTYPE html>
<html>
<head>
	<title>404</title>
</head>
<body>
	<h1>Sorry, we couldn't find any result  <br>=(</h1>
	<div class="container">
		<a class="btn2" href="/">Search Again</a>
	</div>
</body>
</html>